@use './variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

body.light-mode {
    background-color: $secondary-color;
    color: $primary-color;
    transition: background-color $transition-time, color $transition-time;
}
