@use './variables' as *;

header {
    overflow: visible;
    position: sticky;
    top: 0;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $header-padding;
    z-index: 100;

    img {
        width: $header-img-size;
        height: $header-img-size;
        object-fit: cover;
        border-radius: 50%;
    }
}

.night-mode {
    display: flex;
    flex-direction: row;
}

#modo-btn {
    background-color: var(--btn-bg);
    color: var(--btn-icon);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color $transition-time, color $transition-time;
}