@use './variables' as *;

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "section-home section-home"
        "section-skills section-skills"
        "section-projects section-projects";
}


.section-home {
    display: flex;
    justify-content: center;
    grid-area: section-home;
    width: 100%;
    padding: $card-padding;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.section-skills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: section-skills;
    width: 100%;
    padding: $section-padding;
    color: $secondary-color;
    text-align: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.section-projects {
    grid-area: section-projects;
    width: 100%;
    padding-bottom: $section-padding;
    padding-top: $section-padding;

    h2 {
        text-align: center;
        margin-bottom: $card-padding;
    }
}


.proyectos-titulo {
    border-left: 4px solid #667eea;
    padding-left: 15px;
    font-size: 2.5rem;
    font-weight: 700;
}
